*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    line-height: 24px;
}

.header{
    background-image: url(../images/header-bg.jpg);
    min-height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.menu__list{
    display: flex;
    list-style: none;
}

.menu__list li + li{
    padding-left: 50px;
}

.login{
    margin-right: 44px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.menu__list a{
    opacity: 0.5;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s;
}

.menu__list a:hover{
    opacity: 1;
}

.sign-up{
    color: #250F8A;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    padding: 8px 43px;
    border-radius: 20px;
}